@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-BoldItalic.woff2') format('woff2'),
    url('/fonts/SFProText-BoldItalic.woff') format('woff'),
    url('/fonts/SFProText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-Bold.woff2') format('woff2'),
    url('/fonts/SFProText-Bold.woff') format('woff'),
    url('/fonts/SFProText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-Heavy.woff2') format('woff2'),
    url('/fonts/SFProText-Heavy.woff') format('woff'),
    url('/fonts/SFProText-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-HeavyItalic.woff2') format('woff2'),
    url('/fonts/SFProText-HeavyItalic.woff') format('woff'),
    url('/fonts/SFProText-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-LightItalic.woff2') format('woff2'),
    url('/fonts/SFProText-LightItalic.woff') format('woff'),
    url('/fonts/SFProText-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-Light.woff2') format('woff2'),
    url('/fonts/SFProText-Light.woff') format('woff'),
    url('/fonts/SFProText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-Medium.woff2') format('woff2'),
    url('/fonts/SFProText-Medium.woff') format('woff'),
    url('/fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-MediumItalic.woff2') format('woff2'),
    url('/fonts/SFProText-MediumItalic.woff') format('woff'),
    url('/fonts/SFProText-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-Regular.woff2') format('woff2'),
    url('/fonts/SFProText-Regular.woff') format('woff'),
    url('/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-RegularItalic.woff2') format('woff2'),
    url('/fonts/SFProText-RegularItalic.woff') format('woff'),
    url('/fonts/SFProText-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-SemiboldItalic.woff2') format('woff2'),
    url('/fonts/SFProText-SemiboldItalic.woff') format('woff'),
    url('/fonts/SFProText-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src:
    url('/fonts/SFProText-Semibold.woff2') format('woff2'),
    url('/fonts/SFProText-Semibold.woff') format('woff'),
    url('/fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
