.preview-track {
  display: grid;
  grid-template-columns: 96px 1fr 56px;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
  &:hover {
    background-color: var(--gray);
  }
  // .preview-track__thumbnail
  &__thumbnail {
  }
  // .preview-track__action
  &__action {
  }
  // .preview-track__info
  &__info {
    padding: 0 16px;
  }
  // .preview-track__name
  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
  }
  // .preview-track__artist
  &__artist {
    font-size: 14px;
    line-height: 16px;
    color: var(--system-gray);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
  }
  // .preview-track__duration
  &__duration {
  }
}
