.settings-qrCode {
  width: 100%;
  // .settings-qrCode__header
  &__header {
    background-color: var(--gray);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .settings-qrCode__title
  &__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  // .settings-qrCode__body
  &__body {
    margin-top: 1px;
    background-color: var(--gray);
    padding: 24px;
  }
}
