.qr-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // .qr-code __body
  &__body {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
  }
}
