.music-header {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px 0 24px;
  gap: 16px;
  // .music-header__search
  &__search {
    flex: 1 1;
  }
  // .music-header__filter
  &__filter {
    width: 192px;
  }
  // .music-header__download
  &__download {
    width: 192px;
  }
}
