.web-player {
  // .web-player__player
  &__player {
  }
}

.player {
  position: fixed;
  bottom: 0;
  left: 112px;
  right: 0;
  width: calc(100% - 112px);
  background-color: rgba(24, 28, 31, 0.8);
  backdrop-filter: blur(5px);
  z-index: 3;

  // .player__progress-bar
  &__progress-bar {
    width: 100%;
  }
  // .player__body
  &__body {
    height: 80px;
    display: flex;
    padding: 8px 24px;
  }
  // .player__controllers
  &__controllers {
    margin-left: 32px;
    height: 100%;
  }
  // .player__album
  &__album {
    flex: 1 1;
    width: 0;
    padding-left: 64px;
  }
  // .player__actions
  &__actions {
  }

  &__audio {
    display: none;
  }
}

.player-progress-bar {
  background-color: #a0a0a0;
  height: 16px;
  width: 100%;
  position: relative;

  // .player-progress-bar__progress-range
  &__progress-range {
    height: 100%;
    position: absolute;
    z-index: 10;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  // .player-progress-bar__progress-line
  &__progress-line {
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, #ff9900, #ffc670);
  }

  &__loading {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    span {
      background-color: #ffffff4d;
      display: block;
      height: 100%;
      left: 0%;
      width: 0%;
      position: absolute;
    }
  }

  &__tooltip {
    position: absolute;
    top: -34px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
    background-color: var(--dark);
    border-radius: 4px;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none;
    z-index: 1001;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--dark);
    }
  }
}

.player-track-controllers {
  display: flex;
  height: 100%;
  align-items: center;
  // .player-track-controllers__controller
  &__controller {
    button {
      background-color: transparent;
      color: var(--text-color);
    }
  }

  // .player-track-controllers__play-pause
  &__play-pause {
    padding: 4px;
  }

  &__prev {
    padding: 4px;
    margin-right: 24px;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  &__next {
    padding: 4px;
    margin-left: 24px;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  // .player-track-controllers__playlist
  &__playlist {
    padding: 4px;
    margin-left: 32px;
  }
}

.player-album {
  display: flex;
  align-items: center;
  // .player-album__image
  &__image {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  // .player-album__content
  &__content {
    padding-left: 16px;
  }
  // .player-album__name
  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
  }
  // .player-album__info
  &__info {
    color: var(--system-gray);
    font-weight: 400;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
  }
}

.player-actions {
  display: flex;
  background-color: rgba(24, 28, 31, 0.9);
  border-radius: 8px;
  padding: 8px 24px;
  gap: 24px;

  // .player-actions__action
  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    // .player-actions__action_no-action
    &_no-action {
      .player-actions__icon {
        color: var(--system-gray);
      }
    }
    // .player-actions__action_favorite
    &_favorite {
      &._active {
        color: var(--red);
      }
    }
    // .player-actions__action_share
    &_share {
    }
    // .player-actions__action_download
    &_download {
    }
  }
  // .player-actions__icon
  &__icon {
    color: var(--text-color);
    display: flex;
  }
  // .player-actions__count
  &__count {
    margin-top: 8px;
    color: var(--system-gray);
  }
}
.player-track-actions {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  // .player-track-actions__action
  &__action {
    button {
      padding: 4px;
      display: flex;
      color: var(--white);
      background-color: transparent;
    }
  }
  // .player-track-actions__repeat
  &__repeat {
  }
  // .player-track-actions__shuffle
  &__shuffle {
  }
  // .player-track-actions__volume
  &__volume {
  }
}

.player-volume {
  position: relative;
  // .player-volume__button
  &__button {
    padding: 4px;
  }
  // .player-volume__range-box
  &__range-box {
    position: absolute;
    bottom: calc(100% + 48px);
    border-radius: 8px;
    background-color: #171b1e;
    height: 144px;
    width: 40px;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 6px;
      height: 1px;
      background-color: var(--text-color);
    }
    &::before {
      left: 8px;
    }
    &::after {
      right: 8px;
    }
  }
  // .player-volume__range
  &__range {
    position: absolute;
    height: 112px;
    width: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color);
    border-radius: 4px;

    input {
      position: absolute;
      height: 8px;
      width: 128px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
  }
  // .player-volume__range-progress-line
  &__range-progress-line {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff9900, #ffc670);
    border-radius: 4px;
  }
  // .player-volume__range-progress-thumb
  &__range-progress-thumb {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--text-color);
    border-radius: 50%;
    left: calc(50% - 8px);
  }
}
