.chat-room-messages {
  background: url(/chatBackground.svg);
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  padding: 16px 18px;
  // .chat-room-messages__wrapper
  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  // .chat-room-messages__list
  &__list {
  }
  // .chat-room-messages__group
  &__group {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  // .chat-room-messages__item
  &__item {
    margin-top: 4px;
    width: 416px;
    // .chat-room-messages__item_inside
    &_inside {
      margin-left: auto;
    }
  }
}
